<ion-header>

  <div class="lionsclubs">
    <img src="assets/lions-icon.jpg" alt="--lions-icon--">
    <span>
      Lions Clubs International 
    </span>
  </div>

  <div class="page-heading"><span>Access to your Lion Account</span></div>
</ion-header>


<ion-content>

  <div class="main-content">

    <div class="mylion" >
      <img src="assets/lions-icon.jpg" alt="--lions-icon--">
      <span class="mylion-text"><strong>My</strong>Lion</span>
    </div>
    <div class="button-group">
      <ion-button expand="block">SIGN IN</ion-button>
      <ion-button [routerLink] = "['/sign-register-form']" expand="block" style=" margin-top:25px;">REGISTER</ion-button>
    </div>
  </div>

  <div class="tagline" style="margin-top: auto;text-align: center;">
    <span style="font-size: 12px;color: lightgray;">@2020 Lions Clubs International. All rights reserved

    </span>
  </div>

</ion-content>